@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.header-logo-link {
  display: block;
  margin-bottom: -4px;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  width: 500px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 47px;
  align-items: center;
}

.navigation-user {
  width: 300px;
  padding-left: 0;
  justify-content: end;
}

.navigation-link {
  position: relative;
  display: block;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  padding: 20px 17px;
}

.navigation-link-current::before {
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  fill: #756257;
  outline: #83b3d3 solid 3px;
  border-radius: 10px;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:focus {
  fill: #756257;
  outline: #83b3d3 solid 3px;
  border-radius: 10px;
}

.navigation-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}

.wishlist-link {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  background: #7db550;
  border-radius: 9.5px;
  padding: 3px;
  color: #ffffff;
  top: 10px;
  min-width: 14px;
  position: absolute;
  justify-content: center;
  left: 30px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
}

.navigation-button {
  margin-left: 20px;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
  outline: #83b3d3 solid 3px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
}

.block-welcome-main {
  display: block;
  color: #000000;
  background-color: rgba(37, 115, 167, 0.418);
  background-image: url("../images/divider.svg"),
    url("../images/background-welcome-sedona.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  padding-top: 50px;
  padding-bottom: 79px;
}

.description-main {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 80px;
}

.description-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 31px;
  margin: 0;
}

.description-main-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.description-block {
  display: flex;
}

.description-item {
  background: rgba(131, 179, 211, 0.12);
  width: 220px;
  padding: 97px 90px 87px 90px;
}

.description-blue {
  background: #83b3d3;
  color: #ffffff;
}

.description-item-new {
  width: 250px;
  padding: 97px 75px 108px 75px;
}

.description-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.description-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.description-number {
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.description-text {
  color: #333333;
  margin: 0;
}

.description-blue .description-text {
  color: #ffffff;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 250px;
  padding: 90px 75px 80px 75px;
}

.advantages-item:nth-child(2) {
  background: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 20px;
}

.advantages-description {
  color: #333333;
  margin: 0;
}

.interest-block {
  width: 720px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 93px;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 0;
  padding-bottom: 29px;
}

.interest-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-top: 0;
  padding-bottom: 56px;
  margin: 0;
}

.interest-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 12px 150px;
  display: block;
}

.newsletter {
  color: #ffffff;
  background-color: rgba(37, 115, 167, 0.418);
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.newsletter-block {
  width: 800px;
  margin: 0 auto;
  padding: 94px 0;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 46px;
}

.newsletter-form {
  line-height: 26px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  padding: 20px 35px;
}

.newsletter-button:hover {
  background: #68a2ca;
}

.newsletter-button:focus {
  background: #68a2ca;
  outline: #756257 solid 3px;
}

.newsletter-button:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.5);
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-social {
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  width: 120px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  min-width: 40px;
  min-height: 40px;
}

.footer-social-link {
  position: absolute;
  fill: #83b3d3;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer-social-link:hover {
  fill: #68a2ca;
}

.footer-social-link:focus {
  fill: #68a2ca;
  outline: #83b3d3 solid 3px;
  border-radius: 10px;
}

.footer-social-link:active {
  fill: rgba(104, 162, 202, 0.5);
}

.footer-contacts {
  width: auto;
  margin-right: auto;
}

.footer-contacts-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 15px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  outline: #83b3d3 solid 3px;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: rgba(117, 98, 87, 0.5);
}

.htmlacademy-link {
  padding: 20px;
}

.htmlacademy-link:hover {
  fill: #756257;
}

.htmlacademy-link:focus {
  fill: #756257;
  outline: #83b3d3 solid 3px;
  border-radius: 10px;
}

.htmlacademy-link:active {
  fill: rgba(117, 98, 87, 0.5);
}

.catalog-housing {
  background-image: url("../images/background-catalog.jpg");
  color: #ffffff;
  background-color: rgba(37, 115, 167, 0.418);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-bottom: 5px;
  text-align: start;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  margin-bottom: 45px;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
  padding: 3px 5px;
}

.breadcrumbs-link-icon {
  fill: #ffffff;
}

.breadcrumbs-navigation-icon {
  fill: #ffffff;
  opacity: 0.3;
  padding: 0 8px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border-radius: 4px;
  outline: #83b3d3 solid 3px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.catalog-filter-group {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-title,
.catalog-filter-price {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.container-products-select {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 76px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.select-control {
  padding-right: 127px;
  margin-right: 72px;
}

.button-sort {
  color: #000000;
  outline: 2px solid #e6e6e6;
  background: none;
  line-height: 21px;
  padding: 11.5px 14px;
  margin-left: 8px;
}

.button-sort-current {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.button-sort:hover {
  outline: 2px solid #83b3d3;
  background: none;
}
.button-sort:focus {
  outline: 2px solid #83b3d3;
  background: none;
}

.button-sort:active {
  outline: 2px solid #000000;
  background-color: none;
}

.container-products-list {
  width: 1060px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 10px;
  column-gap: 18px;
}

.product-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 160px;
  grid-template-rows: 206px repeat(4, min-content);
  row-gap: 16px;
  max-width: 300px;
  min-height: 397px;
}

.product-image-card {
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-image-card:hover {
  opacity: 0.6;
}

.product-image-card:focus {
  outline: #83b3d3 solid 3px;
}

.product-image-card:active {
  opacity: 0.6;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  text-align: start;
}

.product-card-text {
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: start;
}

.product-card-price {
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding-left: 20px;
  text-align: start;
}

.product-card-link {
  padding: 9px 23px;
  justify-self: start;
}

.product-card-button {
  background: #83b3d3;
  padding: 7px 18px;
  justify-self: end;
}

.product-card-button:hover {
  background: #68a2ca;
  outline: #756257 solid 1px;
}

.product-card-button:focus {
  background: #68a2ca;
  outline: #756257 solid 3px;
}
.product-card-button:active {
  background: #68a2ca;
  outline: #756257 solid 1px;
  color: rgba(255, 255, 255, 0.5);
}
.product-card-button-favourites {
  border: 1px solid #000000;
  background: #6c9e42;
}

.product-card-button-favourites:hover {
  background: #6c9e42;
  border: none;
}

.product-card-button-favourites:focus {
  background: #6c9e42;
  outline: #756257 solid 3px;
}

.product-card-button-favourites:active {
  background: #6c9e42;
  color: rgba(255, 255, 255, 0.5);
}

.rating-result-text {
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  padding: 8px 10px;
}

.container-pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 70px;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
}

.button-apply {
  background: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  background: #83b3d3;
  line-height: 21px;
  padding: 14px 35px;
  margin-bottom: 5px;
}

.button-apply:hover {
  background: #68a2ca;
}

.button-apply:focus {
  background: #68a2ca;
  outline: #ffffff solid 3px;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.5);
}

.button-reset {
  background: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  padding: 14px 35px;
}

.button-reset:hover {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.button-reset:focus {
  background: none;
  outline: #83b3d3 solid 3px;
}

.button-reset:active {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.rating-result {
  justify-self: start;
  align-self: center;
}
.star {
  fill: #68a2ca;
  padding-right: 7px;
}

.pagination-show-more {
  background: #83b3d3;
  line-height: 21px;
  padding: 17px 230px;
  margin: 30px auto;
}

.pagination-show-more:hover {
  background: #68a2ca;
}
.pagination-show-more:focus {
  background: #68a2ca;
  outline: #756257 solid 3px;
}
.pagination-show-more:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.5);
}
.pagination {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  width: 55px;
  padding: 15px 18px;
}

.pagination-link:hover {
  background: #68a2ca;
}
.pagination-link:focus {
  background: #68a2ca;
  outline: #756257 solid 3px;
}
.pagination-link:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.5);
}

.pagination-item {
  padding-right: 8px;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
  cursor: pointer;
}

.namber-product {
  line-height: 23px;
  color: #333333;
  padding-right: 50px;
  font-weight: 400;
}

.newsletter-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 140px;
}

.newsletter-title,
.newsletter-text {
  margin: 0;
  padding-bottom: 46px;
}
