@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #f2f2f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.header-logo-link {
  display: block;
  margin-bottom: -4px;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  width: 500px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 47px;
  align-items: center;
}

.navigation-user {
  width: 300px;
  padding-left: 0;
  justify-content: end;
}

.navigation-link {
  display: block;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  padding: 20px 17px;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
  padding: 0;
}
.navigation-user .navigation-item:nth-child(3) {
  margin-left: 20px;
  padding: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 15px;
}

.block-welcome-main {
  display: block;
  color: #000000;
  background-color: rgba(37, 115, 167, 0.418);
  background-image: url("../images/divider.svg"),
    url("../images/background-welcome-sedona.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  padding-top: 50px;
  padding-bottom: 79px;
}

.description-main {
  width: 720px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 80px;
}

.description-main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-bottom: 31px;
  margin: 0;
}

.description-main-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding: 0;
}

.description-block {
  display: flex;
}

.description-item {
  background: rgba(131, 179, 211, 0.12);
  width: 220px;
  padding: 97px 90px 87px 90px;
}

.description-blue {
  background: #83b3d3;
  color: #ffffff;
}

.description-item-new {
  width: 250px;
  padding: 97px 75px 108px 75px;
}

.description-light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.description-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.description-number {
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.description-text {
  color: #333333;
  margin: 0;
}

.description-blue .description-text {
  color: #ffffff;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
  width: 250px;
  padding: 90px 75px 80px 75px;
}

.advantages-item:nth-child(2) {
  background: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 20px;
}

.advantages-description {
  margin: 0;
}

.interest-block {
  width: 720px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 93px;
}

.interest-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 29px;
}

.interest-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-top: 0;
  padding-bottom: 56px;
}

.interest-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 12px 150px;
  display: block;
}

.newsletter {
  color: #ffffff;
  background-color: rgba(37, 115, 167, 0.418);
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.newsletter-block {
  width: 800px;
  margin: 0 auto;
  padding: 94px 0;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 46px;
}

.newsletter-form {
  line-height: 26px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  background: #83b3d3;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-social {
  width: 120px;
  margin-right: 61px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  width: 720px;
  margin-right: 53px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.catalog-housing {
  background-image: url("../images/background-catalog.jpg");
  color: #ffffff;
  background-color: rgba(37, 115, 167, 0.418);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-bottom: 5px;
  text-align: start;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  margin-bottom: 45px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs-item:nth-child(1) {
  margin-right: 26px;
  min-width: 12px;
  min-height: 12px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.catalog-filter-group {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-title,
.catalog-filter-price {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.container-products-select {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 76px;
}

.catalog-products-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 210px;
}

.button-sort {
  color: #000000;
  border: 2px solid #e6e6e6;
  background: none;
  line-height: 21px;
}

.button-light {
  border: 2px solid #000000;
  color: #000000;
  background: none;
  line-height: 21px;
}

.container-products-list {
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 54px;
  border-bottom: 1px solid #e6e6e6;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  row-gap: 10px;
  column-gap: 18px;
}

.product-card {
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 160px;
  row-gap: 16px;
  max-width: 300px;
  min-height: 438px;
}

.product-image {
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  text-align: start;
}

.product-card-text {
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: start;
}

.product-card-price {
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding-left: 20px;
  text-align: start;
}

.product-card-link {
  padding: 10px 23px;
  justify-self: start;
}

.product-card-button {
  background: #83b3d3;
  padding: 10px 18px;
  justify-self: end;
}

.rating-result-text {
  font-size: 16px;
  background: #f2f2f2;
  border-radius: 4px;
  margin: 0;
  padding: 10px 10px;
}

.container-pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 70px;
  border-top: 1px solid #e6e6e6;
  justify-content: space-between;
}

.button-apply {
  background: #83b3d3;
  line-height: 21px;
}

.button-reset {
  background: none;
  text-transform: none;
  font-size: 18px;
  line-height: 23px;
}

.pagination-show-more {
  background: #83b3d3;
  line-height: 21px;
  padding: 17px 230px;
  margin: 30px auto;
}

.pagination {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
  width: 55px;
  padding: 15px 18px;
}

.pagination-item {
  padding-right: 8px;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
  cursor: pointer;
}

.namber-product {
  line-height: 23px;
  color: #333333;
  padding-right: 50px;
  font-weight: 400;
}

.newsletter-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 140px;
}

.newsletter-title,
.newsletter-text {
  margin: 0;
  padding-bottom: 46px;
}
